{
  "$schema": "https://raw.githubusercontent.com/nana4rider/jema2mqtt/refs/heads/main/config-schema.json",
  "deviceId": "string",
  "entities": [
    {
      "id": "string",
      "name": "name",
      "domain": "lock",
      "controlGpio": 98,
      "monitorGpio": 99
    }
  ]
}
